*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 20px 20px 15px;
}
li a{
    border: 1px solid grey;
    padding: 5px 10px;
    display: block;
    box-shadow: 2px 2px 2px black;
    color: black;
}
li a:hover{
    background-color: #267af0;
    color: white;
    transform: scale(1.11);
}
a{
    text-decoration: none;
}
main{
    margin: 5px 20px;
}
h1{
    text-align: center;
    margin: 10px 0;
}
section{
    margin: 15px 0;
}
h2{
    margin: 10px 0;
}